$overdue: #F44336;
$due:#2196F3;
$no-deadline:#607D8B;
$done:#4CAF50;

body {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
  opacity: 0;
  transition:0.4s ease all;
}

body.active {
  opacity: 1;
}

.container {
  max-width: 90%;
  width: 800px;
  margin: 0px auto;
  padding: 100px 0;
  text-align: center;
}

header {
  background-color: white;
  perspective: 1000px;
  
  h1 {
    font-weight: 300;
    letter-spacing: 0.2em;
    text-transform: uppercase;  
  }
  
  .styled-border {
    display:flex;
    
    div {
      height: 10px;
      width: 100%;
    }
    
    .overdue {background-color: $overdue;}
    .due {background-color: $due;}
    .no-deadline {background-color: $no-deadline;}
    .done {background-color: $done;}
  }
  
  .logo {
    width: 90%;
    max-width: 150px;
  }
  
  .updates {
    margin:3em auto;
    border-width: 5px;
    border-radius:5px;
    border-style: solid;
    border-left-color: $overdue;
    border-top-color: $due;
    border-right-color: $no-deadline;
    border-bottom-color: $done;
    padding:1em;
    max-width: 400px;
    width: 90%;
    box-shadow: 0px 2px 20px 2px rgba(0,0,0,0.2);
    
    .header {
      text-transform: uppercase;
      font-size:0.8em;
      color:$no-deadline;
      margin-bottom:1em;
      letter-spacing: 0.2em;
    }
  }
  
  .preview {
    width: 100%;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.2);
    transform: rotateX(15deg) translateY(100px);
    margin-top: -80px;
  }
}

main {
  background-color: transparentize($due, 0.5);
  color: darken($due, 30%);
  
  .container {
    perspective: 1000px;
  }
  
  .button {
    padding: 20px 40px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    background-color: $due;
    color: white;    
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 300;
    transition: 0.4s ease all;
    transform: rotateX(20deg);
    
    &:hover {
      transform: translateY(-5px) scale(1.1);
      background-color: darken($due, 10%);
      box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    }
  }
}

footer {
  background-color: transparentize($no-deadline, 0.5);
  color: darken($no-deadline, 30%);
  
  a {
    background-color: $no-deadline;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
  }
}